
.main_theme{
    /* background: linear-gradient(#1D2B64,#F8CDDA); */
    background: #1D2B64;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #F8CDDA, #1D2B64);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #F8CDDA, #1D2B64); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid rgb(2, 51, 2);
    border-radius: 10px;
    padding: 4%;
    height: 90%;
    min-width: 30vw;
    max-width: 2000px;
    max-height:1000px;
    min-height: 83vh;
    
    
}


.theme{
    
    width: 90%;
    height: 90%;
    max-width: 600px;
    max-height: 600px;
    /* border: 2px solid red; */
}
.input_buttons {
    width: 100%;
    height: 30%;
    max-width: 500px;
    min-width: 50px;
    display: flex;
    justify-content: space-between;
    /* border: 3px solid purple; */
    font-family: 'PT Sans, sans-serif';
}
.location{
    width: 60%;
    height: 30px;
    margin-top: 6px;
    border-radius:10px;
    font-size: 20px;
}
button {
    max-width: 20%;
    height: 30px;
    border: none;
    border-radius: 10px;
    margin: 8px 10px;
    color: rgb(83, 38, 128);
    font-size: 20px;
}

.lines{
    width: 50%;
    height: 90%;
    max-width:100%;
    min-width: 60%;
    min-height: 30vh;
    /* padding: 5px 70px; */
    /* border: 1px solid green; */
   
}

input{
    border: 1px solid rgb(77, 84, 92);
    background: transparent;
    padding-left: 15px;
}

h2{
    font-family: 'PT Sans', sans-serif;
    font-size: 30px;
    animation-name: h2;
    animation-duration: 2s;
}
@keyframes h2{
    from {color: black;}
    to{color: red;}
}

.picture{
    width: 20%;
    height: 20%;
    animation-name: picture;
    animation-duration: 2s;
    perspective:1000;
    transform-style:preserve-3d;
    animation:spin 2s linear 0s;
}
@keyframes spin{
    
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(180deg);
    }
    100% {
        transform: rotateY(0deg);
    }    
    
}

p {
    width: 70vw;
    height: 3vh;
    max-width: 90%;
    /* min-width: 30%; */
    padding-bottom: 1vh;
    border-bottom: 1px solid #05293b;
    font-family: 'Slabo 27px', serif;
    font-size: 2vw;    
}

.pic{
    width: 10vh;
    height: 10vh;
    /* float:right; */
    float: right;
    margin: 10%;
    padding: 0;
    /* border: 1px solid black; */
}
